<h1>Direct / Indirect Coupling</h1>
<%= form_tag 'coupling' do %>

    <div class="row">
      <div class="small-5 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Node 1</label>
          </div>
          <div class="small-9 columns">
            <select name="neoServer1">
              <% @neo_servers.each do |neo| %>
                  <option value="<%= neo['server']['data']['id'] %>"><%= neo['server']['data']['name'] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="small-5 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Node 2</label>
          </div>
          <div class="small-9 columns">
            <select name="neoServer2">
              <% @neo_servers.each do |neo| %>
                  <option value="<%= neo['server']['data']['id'] %>"><%= neo['server']['data']['name'] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="small-2 columns">
        <%= submit_tag 'Submit', class: 'button postfix' %>
      </div>
    </div>
<% end %>

<%= content_tag "div", class: "graph", data: {nodes: @nodes, links: @links} do %>

<% end %>