<h1>Direct / Indirect Coupling</h1>
<%= form_tag 'coupling' do %>

    <div class="row">
      <div class="small-5 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Node 1</label>
          </div>
          <div class="small-9 columns">
            <select name="neoServer1">
              <% @neo_servers.each do |neo| %>
                  <option value="<%= neo['server']['data']['id'] %>"><%= neo['server']['data']['name'] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="small-5 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Node 2</label>
          </div>
          <div class="small-9 columns">
            <select name="neoServer2">
              <% @neo_servers.each do |neo| %>
                  <option value="<%= neo['server']['data']['id'] %>"><%= neo['server']['data']['name'] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="small-2 columns">
        <%= submit_tag 'Submit', class: 'button postfix' %>
      </div>
    </div>
<% end %>

<% if @server1 != nil && @server2 != nil%>
    Showing dependencies for <span class="bold">
  <%= @server1.name %></span> and <span class="bold"><%= @server2.name %></span>
<table>
  <thead>
  <tr>
    <th>Impact Analysis</th>
    <th>Tightly Coupling</th>
    <th>Loosely Coupling</th>
  </tr>
  </thead>

  <tbody>
  <% if @classical != nil %>
      <tr>
        <td>Classial: It is applicable to the ordinary kind of fuzzy dependencies.</td>
        <td><%= @classical[0] %></td>
        <td><%= @classical[1] %></td>
      </tr>
  <% end %>
  <% if @worst != nil %>
      <tr>
        <td>Worst: The worst case impact analysis uses probabilistic
          disjunciton and classical conjunction to compute the
          indirect impacts. Thus giving a pessimistic view by
          increasing the outcoming value for the degree of membership.</td>
        <td><%= @worst[0] %></td>
        <td><%= @worst[1] %></td>
      </tr>
  <% end %>
  <% if @best != nil %>
      <tr>
        <td>Best: The best case impact analysis uses classical
          disjunction and probabilistic conjunction to compute
          the indirect impacts between the components. It gives
          an optimistic view, meaning that the outcoming value
          for the degree of membership is smaller.</td>
        <td><%= @best[0] %></td>
        <td><%= @best[1] %></td>
      </tr>
  <% end %>
  <% if @moderate != nil %>
      <tr>
        <td>Moderate: The moderate impact analysis uses either a
          probabilistic or a classical approach. It is best
          applicable to the probabilistic dependencies.</td>
        <td><%= @moderate[0] %></td>
        <td><%= @moderate[1] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>


<%= content_tag "div", class: "graph", data: {nodes: @nodes, links: @links} do %>

<% end %>