<h1>Listing Nodes</h1>

<table>
  <thead>
  <tr>
    <th>Node</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td>
          <ul class="button-group radius">
            <li><%= link_to 'Edit', edit_server_path(server), class: 'button tiny' %></li>
            <li><%= link_to 'X', server, method: :delete, data: {confirm: 'Are you sure?'}, class: 'button tiny alert' %></li>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="button-bar">
  <ul class="button-group radius">
    <li><%= link_to 'New Node', new_server_path, class: 'button default' %></li>
    <li><%= link_to 'Add Relationships ', connect_path, class: 'button default' %></li>
    </li>
  </ul>
  <ul class="button-group radius">
    <li><%= link_to 'Destroy all data', destroy_everything_path, :method => :post, data: {confirm: 'Are you sure?'}, class: 'button alert' %>
    </li>
  </ul>
</div>

<%= content_tag "div", class: "graph", data: {nodes: @nodes, links: @links} do %>

<% end %>