<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<%= link_to 'Create another Node', new_server_path, class: 'button' %>
<%= link_to 'Edit', edit_server_path(@server), class: 'button' %>
<%= link_to 'Back to the Nodes', servers_path , class: 'button'%>
